PyGithub
accelerate
aiohttp
aiohttp_cors
aiorwlock
aiosignal
anyscale
bitsandbytes
boto3
click
colorful
cupy-cuda12x == 12.1.0
dataset
deepspeed
diffusers
dm_tree
evaluate
expiringdict
fairscale
fastapi
filelock
flax
frozenlist
fsspec
google-cloud-storage
grpcio 
gymnasium
huggingface_hub
ipywidgets
jinja2
jsonschema
keras==2.15.0
kubernetes
lz4
matplotlib
msgpack
numpy
opencensus
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
packaging
pandas
peft
prometheus_client >= 0.18.0
protobuf
py-spy
pyarrow
pybuildkite
pydantic >= 2.0
pytest < 8.0
python-dotenv
pytorch-lightning
pytz
pyyaml
ray
requests
retry
rich
scikit-image
scipy
sentencepiece
slackclient
smart_open
starlette
statsforecast
tensorboardX
tensorflow
tensorflow-probability
toml
torch==2.1.2
torchmetrics
torchvision
transformers
typer[all]
uvicorn
virtualenv
wandb
watchfiles
