PyGithub
accelerate
aiohttp
aiohttp_cors
aiorwlock
aiosignal
anyscale
bitsandbytes
boto3
click
colorful
cupy-cuda100
dataset
deepspeed
diffusers
dm_tree
evaluate
expiringdict
fairscale
fastapi
filelock
flax
frozenlist
fsspec
google-cloud-storage
grpcio 
gymnasium
huggingface_hub
ipywidgets
jinja2
jsonschema
kubernetes
tensorflow
lz4
matplotlib
msgpack
numpy
opencensus
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
packaging
pandas
peft
prometheus_client
protobuf
py-spy
pyarrow
pybuildkite
pydantic
python-dotenv
pytorch-lightning
pytz
pyyaml
ray
requests
retry
rich
scikit-image
scipy
sentencepiece
slackclient
smart_open
starlette
statsforecast
tensorboardX
tensorflow
tensorflow-probability
toml
torch
torchmetrics
torchvision
transformers
typer[all]
uvicorn
virtualenv
wandb
watchfiles
